.sushi-icon:hover {
    cursor: pointer;
}

/*.parent {*/
    /*position: relative;*/
/*}*/
/*.child {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
/*}*/

.modal-dialog {
    top: 30%;
}

.player-num-btn {
    margin: 2px 0;
}