<nav class="navbar navbar-default navbar-fixed-top zjh-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" [routerLink]="['/user', username]">Sushi Go!</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://gamewright.com/product/Sushi-Go">GAME INTRO</a></li>
                <li><a href="https://github.ccs.neu.edu/phoebe0607/sushigo">ABOUT</a></li>
                <li><a routerLink="/how-to-play">HOW TO PLAY</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-brand" [routerLink]="['/user', username, 'profile']">{{username}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right disabled knight-icon">
                <li><a class="glyphicon glyphicon-knight"></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid myBody parent">
    <audio controls autoplay hidden loop>
        <source src="../../../../assets/music/bgm_menu.mp3" type="audio/mpeg">
        audio unsupported !!
    </audio>
    <!--<embed src="../../../../assets/music/bgm_menu.mp3" loop="true" width="0" height="0" autostart="true">-->
    <div align="center">
        <img src="../../../../assets/img/game_mode.png"/>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <div class="card text-center">
                <div align="center">
                    <img class="sushi-icon" src="../../../../assets/img/sushis/Wasabi.png" width="53%" alt="Card image cap" data-toggle="modal" data-target="#gamestart">
                </div>
                <div align="center">
                    <img src="../../../../assets/img/pve.png" width="40%"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-center">
                <div align="center">
                    <img class="sushi-icon" src="../../../../assets/img/sushis/Tempura.png" width="50%" alt="Card image cap">
                </div>
                <div align="center">
                    <img src="../../../../assets/img/pvp.png" width="40%"/>
                </div>
                <!--<div class="card-block">-->
                <!--<br/>-->
                <!--<button type="button"-->
                <!--class="btn btn-lg btn-warning"-->
                <!--data-toggle="popover"-->
                <!--data-placement="left"-->
                <!--title="Uh-oh!"-->
                <!--data-content="We're still working on PvP. Please try later!">-->
                <!--PvP-->
                <!--</button>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>

    </div>
    <div class="card-block" align="center">
        <div class="modal fade"
             id="gamestart"
             tabindex="-1"
             role="dialog"
             aria-labelledby="gamestartLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="gamestartLabel">Please select the number of players</h5>
                    </div>
                    <div class="modal-body">
                        <!--<div class="input-group input-number-group">-->
                        <!---->
                        <!--<div class="input-group-button">-->
                        <!--<span class="input-number-decrement">-</span>-->
                        <!--</div>-->
                        <!--<input class="input-number" type="number" value="4" min="2" max="5">-->
                        <!--<div class="input-group-button">-->
                        <!--<span class="input-number-increment">+</span>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<input class="form-control" type="number" value="4" min="2" max="5">-->
                        <!--</div>-->

                        <button type="button" class="btn btn-warning .btn-lg" data-dismiss="modal" (click)="newPvEGame(2)">2</button>
                        <button type="button" class="btn btn-warning .btn-lg" data-dismiss="modal" (click)="newPvEGame(3)">3</button>
                        <button type="button" class="btn btn-warning .btn-lg" data-dismiss="modal" (click)="newPvEGame(4)">4</button>
                        <button type="button" class="btn btn-warning .btn-lg" data-dismiss="modal" (click)="newPvEGame(5)">5</button>

                    </div>
                    <!--<div class="modal-footer" align="center">-->
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>-->
                    <!--<button type="button" class="btn btn-success" data-dismiss="modal" (click)="newGame()">Start</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>