<div class="container-fluid myGuide">
    <div align="center" class="guides">
        <img src="../../../../assets/img/guide/rules6.png" width="35%"/>
    </div>
    <div align="center" class="guides">
        <img src="../../../../assets/img/guide/rules1.png" width="70%"/>
    </div>
    <div align="center" class="guides">
        <img src="../../../../assets/img/guide/rules2.png" width="70%"/>
    </div>
    <div align="center" class="guides">
        <img src="../../../../assets/img/guide/rules3.png" width="70%"/>
    </div>
    <div align="center" class="guides">
        <img src="../../../../assets/img/guide/rules4.png" width="70%"/>
    </div>
    <div align="center" class="guides">
        <img src="../../../../assets/img/guide/rules5.png" width="70%"/>
    </div>
</div>