<nav class="navbar navbar-default navbar-fixed-top zjh-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" [routerLink]="['/user', username]">Sushi Go!</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://gamewright.com/product/Sushi-Go">GAME INTRO</a></li>
                <li><a href="https://github.ccs.neu.edu/phoebe0607/sushigo">ABOUT</a></li>
                <li><a routerLink="/how-to-play">HOW TO PLAY</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-brand" [routerLink]="['/user', username, 'profile']">{{username}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right disabled knight-icon">
                <li><a class="glyphicon glyphicon-knight"></a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid myBody game-play-body">
    <audio controls autoplay hidden loop>
        <source src="../../../../assets/music/bgm_game.mp3" type="audio/mpeg">
        audio unsupported !!
    </audio>

    <div  *ngIf="players">
        <div *ngFor="let player of players">
            <div class="row">
                <div class="col-xs-1 game-text-a">
                    {{player.username}}
                </div>
                <div class="col-xs-11">
                    <div>
                        <img *ngFor="let card of player.playedCards;"
                             width="10%" height="10%"
                             class="card-display"
                             src="{{showCards(card)[0]}}"
                             alt="{{showCards(card)[1]}}">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="myHand && myHand.length > 0">
        <h3 class="game-text-b">Please select a card from below</h3>
        <div class="row">
            <div class="col-xs-1 game-text-a">
                Your Hand
            </div>
            <div class="col-xs-11">
                <div>
                    <img *ngFor="let card of myHand; let i = index"
                         width="10%" height="10%"
                         class="cards-on-hand card-display"
                         (click)="getNextHand(i)"
                         src="{{showCards(card)[0]}}"
                         alt="{{showCards(card)[1]}}">
                </div>
            </div>
        </div>
    </div>

    <div class="backdrop" [ngStyle]="{'display': showResults}">
        <div class="modal"
             tabindex="-1"
             role="dialog"
             [ngStyle]="{'display': showResults}">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title text-center" id="totalLabel">{{message}}</h3>
                    </div>
                    <div class="modal-body">
                        <table class="table" align="center">
                            <thead>
                            <tr align="center">
                                <th scope="col" align="center">Rank</th>
                                <th scope="col" align="center">Player</th>
                                <th scope="col" align="center">Points</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let player of ranks; let i = index">
                                <td>{{i+1}}</td>
                                <td scope="row">{{player.username}}</td>
                                <td>{{player.score}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" align="center" class="btn btn-warning" (click) = "startNewGame()">Start New Game</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>