<nav class="navbar navbar-default navbar-fixed-top zjh-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" [routerLink]="['/user', username]">Sushi Go!</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-collapse collapse">
                <li><a href="https://gamewright.com/product/Sushi-Go">GAME INTRO</a></li>
                <li><a href="https://github.ccs.neu.edu/phoebe0607/sushigo">ABOUT</a></li>
                <li><a routerLink="/how-to-play">HOW TO PLAY</a></li>
            </ul>

            <div class="navbar-form navbar-right">
                <a [routerLink]="['/login']" class="btn btn-danger">Logout</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-brand" [routerLink]="['/user', username, 'profile']">Hi {{username}}!</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right disabled knight-icon">
                <li><a class="glyphicon glyphicon-knight"></a></li>
            </ul>
        </div>
    </div>
</nav>



<div class="container-fluid myProfile myBody">
    <div *ngIf="successFlag"
         class="alert alert-info">
        {{successMsg}}
    </div>
    <div *ngIf="errorFlag"
         class="alert alert-danger">
        {{errorMsg}}
    </div>
    <label>Username</label>
    <input [(ngModel)]="username" class="form-control" type="text"
           id="username" placeholder="{{username}}">
    <label>Email</label>
    <input [(ngModel)]="email" class="form-control" type="text"
           id="email" placeholder="{{email}}">

    <a (click)="updateUser()" class="btn btn-success btn-block">Update</a>
    <a [routerLink]="['/user', username]" class="btn btn-primary btn-block">Back to Homepage</a>
    <a (click)="logout()" class="btn btn-warning btn-block">Logout</a>
    <a (click)="removeUser()" class="btn btn-danger btn-block">Delete User</a>
</div>
