<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a class="navbar-brand" href="">Sushi Go!</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <div class="navbar-nav navbar-brand navbar-header">
        <a class="nav-item nav-link" href="https://boardgamegeek.com/boardgame/133473/sushi-go">Intro</a>
        <a class="nav-item nav-link" href="https://github.ccs.neu.edu/phoebe0607/sushigo">About</a>
        <a class="nav-item nav-link" routerLink="/user/{{username}}/game">Start Game</a>
      </div>

      <div class="navbar-form navbar-right">
        <a [routerLink]="['/login']" class="btn btn-danger">Logout</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="navbar-brand">Hi {{username}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="glyphicon glyphicon-knight"></a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="container-fluid myBody">
  <!--<div *ngIf="message" class="alert alert-info">-->
    <!--{{message}}-->
  <!--</div>-->
  <label>Username</label>
  <input [(ngModel)]="user.username" class="form-control" type="text"
         id="username" placeholder="{{user.username}}">
  <label>Email</label>
  <input [(ngModel)]="user.email" class="form-control" type="text"
         id="email" placeholder="{{user.email}}">
  <label>Fisrt Name</label>
  <input [(ngModel)]="user.firstName" class="form-control" type="text"
         id="first-name" placeholder="{{user.firstName}}">
  <label>Last Name</label>
  <input [(ngModel)]="user.lastName" class="form-control" type="text"
         id="last-name" placeholder="{{user.lastName}}">
  <a (click)="removeUser()" class="btn btn-warning btn-block">Delete User</a>
  <a (click)="logout()" class="btn btn-danger btn-block">Logout</a>
</div>
