<nav class="navbar navbar-default navbar-fixed-top zjh-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" [routerLink]="['/login']">Sushi Go!</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://gamewright.com/product/Sushi-Go">GAME INTRO</a></li>
                <li><a href="https://github.ccs.neu.edu/phoebe0607/sushigo">ABOUT</a></li>
                <li><a routerLink="/how-to-play">HOW TO PLAY</a></li>
            </ul>

            <form (ngSubmit)="login()" #f="ngForm" class="navbar-form navbar-right">
                <input placeholder="username"
                       name="username"
                       type="text"
                       class="form-control"
                       [(ngModel)]="username" required #name="ngModel"/>

                <input placeholder="password"
                       name="password"
                       type="password"
                       class="form-control"
                       [(ngModel)]="password" required #pass="ngModel"/>

                <button type="submit"
                        class="btn btn-success"
                        [disabled]="f.invalid">
                    Sign in
                </button>

                <button routerLink="/register"
                        class="btn btn-primary">
                    Register
                </button>
            </form>
        </div>
    </div>
</nav>

<div class="row myBody">
    <div align="center" class="col-xs-1">
    </div>
    <div align="center" class="col-xs-2">
        <img src="../../../../assets/img/sushis/Tempura.png" width="75%" class="sushi-icon" />
        <img src="../../../../assets/img/sushis/EggNigiri.png" width="90%" class="sushi-icon" />
        <img src="../../../../assets/img/sushis/Dumpling.png" width="75%" class="sushi-icon" />
        <img src="../../../../assets/img/sushis/Maki.png" width="75%" class="sushi-icon" />
        <!--<img src="../../../../assets/img/sushis/Chopsticks.png" width="70%" class="images" />-->
    </div>
    <div class="col-xs-6">
        <img src="../../../../assets/img/logo.png" width="100%" class="logo" />
    </div>
    <div align="center" class="col-xs-2">
        <img src="../../../../assets/img/sushis/Wasabi.png" width="75%" class="sushi-icon" />
        <img src="../../../../assets/img/sushis/Pudding.png" width="75%" class="sushi-icon" />
        <!--<img src="../../../../assets/img/sushis/SalmonNigiri.png" width="70%" class="images" />-->
        <img src="../../../../assets/img/sushis/Sashimi.png" width="75%" class="sushi-icon" />
        <img src="../../../../assets/img/sushis/SquidNigiri.png" width="75%" class="sushi-icon" />
    </div>
    <div align="center" class="col-xs-1">
    </div>

</div>